<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewData["Title"] - BookCave</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>

<body>
    <nav id="navbar" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/xSmallLogo.svg" alt="Logo">
                    </a>
                </div>
                <div class="col-xs-6">
                    <form asp-controller="Product" asp-action="AllProducts" method="post" class="input-group">
                        <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">All</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="search-filter" data-filter="All" href="#">All</a>
                            </li>
                            <li>
                                <a class="search-filter" data-filter="Author" href="#">Author</a>
                            </li>
                            <li>
                                <a class="search-filter" data-filter="ISBN" href="#">ISBN</a>
                            </li>
                            <li>
                                <a class="search-filter" data-filter="Title" href="#">Title</a>
                            </li>
                        </ul>
                        </div>
                        <input type="hidden" name="FilterBy" id="FilterBy" value="All">
                        <input type="text" class="form-control" name="SearchString" placeholder="Search by keyword, title, author or ISBN">
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Search"><span class="glyphicon glyphicon-search"></span></input>
                        </span>
                    </form>
                </div>
                <div class="col-xs-3">
                    <ul id="corner-up-right" class="nav navbar-nav navbar-right">
                        @await Html.PartialAsync("_LogInPartial", new BookCave.Models.InputModels.LoginInputModel())
                    </ul>
                </div>
            </div>
        </div>
        <div id="nav" class="navbar-collapse collapse">
            <ul class="nav-product-list nav navbar-nav">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>All Products </span><span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu mega-dropdown-menu row">
                        <li class="col-sm-2">
                            <ul>
                                <li>
                                    <h5>Categories</h5>
                                </li>
                                <li>
                                    <a asp-controller="Product" asp-action="AllProducts">All Products</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Audio Books</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">E - Books</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Hardcover</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Paperback</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Sheet Music</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li>
                                    <h5>Genres</h5>
                                </li>
                                <li>
                                    <a asp-controller="Product" asp-action="BestSellers">Biographies & Memoirs</a>
                                </li>
                                <li>
                                    <a asp-controller="Product" asp-action="BestSellers">Children</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Fantasy</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Fiction</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Mystery, Thriller & Suspense</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Non - Fiction</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Self-Help</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-2">
                            <ul>
                                <li>
                                    <h5>Top Authors</h5>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Product" asp-action="BestSellers">J.K. Rowling</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Yrsa Sigurðardóttir</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">James Comey</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Robert Peterson</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Mark Manson</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">See all</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>Best Sellers </span><span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu mega-dropdown-menu row">
                        <li>
                            <ul>
                                <li>
                                    <h5>Best Sellers</h5>
                                </li>
                                <li>
                                    <a asp-controller="Product" asp-action="BestSellers">Our Best Sellers</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">New York Times Best Sellers</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="NewReleases">New Releases</a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="TopRated">Top Rated</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container body-content">
    @RenderBody()
    <h2>BEST SELLERS</h2>
    <div class="container"> 
        <!--Product View-->
        <div class="row">
            <div class="col">
                <img alt="Cover Art" src="https://hpmedia.bloomsbury.com/rep/s/978%201408855928_309033.jpeg"/>
            </div>
            <div class="col">
                <img alt="Cover Art" src="https://hpmedia.bloomsbury.com/rep/s/9781408855935_309037.jpeg"/>
            </div>
            <div class="col">
                <img alt="Cover Art" src="https://hpmedia.bloomsbury.com/rep/s/9781408855942_309034.jpeg"/>
            </div>
            <div class="col">
                <img alt="Cover Art" src="https://hpmedia.bloomsbury.com/rep/s/9781408855959_309031.jpeg"/>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer id="myFooter">
    <!--Footer Links-->
    <div class="text-left text-md-left">
        <!-- Footer links -->
        <div class="container row text-left text-md-left mt-3 pb-3">

            <!--First column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <p>

                    <a asp-area="" asp-controller="Customer" asp-action="AccountDetails">
                        Account Details
                    </a>
                </p>
                <p>
                    <a asp-area="" asp-controller="Customer" asp-action="OrderHistory">
                        Order History
                    </a>
                </p>
                <p>
                    <a asp-area="" asp-controller="Customer" asp-action="WishList">
                        WishList
                    </a>
                </p>
                <p>
                    <a href="#!">
                        Sign Out
                    </a>
                </p>
            </div>

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <p>

                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </p>
                <p>
                    <a asp-area="" asp-controller="Product" asp-action="AllProducts">
                        All Products
                    </a>
                </p>
                <p>
                    <a asp-area="" asp-controller="Product" asp-action="BestSellers">
                        Best Sellers
                    </a>
                </p>
                <p>
                    <a asp-area="" asp-controller="Product" asp-action="NewReleases">
                        New Releases
                    </a>

                </p>
            </div>

            <!--Third column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                    
                <p>
                    <a asp-area="" asp-controller="Product" asp-action="TopRated">
                        Top Rated
                    </a>
                </p>
                <p>
                    <a href="#!">
                        Shipping
                    </a>
                </p>
                <p>
                    <a href="#!">
                        Returns
                    </a>
                </p>
            </div>

            <!--Fourth column-->
            <div class="col col-lg-2 col-xl-2 mx-auto mt-3">
                <p>
                    <a href="#!">
                        About Us
                    </a>
                </p>
                <p>
                    <a asp-area="" asp-controller="Product" asp-action="BookDetail">
                        Q&As
                    </a>
                </p>
                <p>
                    <a href="#!">
                        Help
                    </a>
                </p>
            </div>

            <!--Fifth column-->
            <div class="col-md-2 col-lg-4 col-xl-2 mx-auto mt-3">
                <p>
                    Contact Us
                </p>
                <p>
                    <i class="fa fa-home mr-3"></i> Menntavegur 1, 105 Reykjavik, Iceland
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> <a href="mailto:bookcave@bookcave.com">bookcave@bookcave.com</a>
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 354 866 1234
                </p>
            </div>
        </div>
              
        <!-- Footer links -->
        <div class="row py-3 d-flex align-items-center">
            <!--Grid column-->
            <hr>
                <div class="container text-left text-md-left">
     
                    <div class="footer-copyright py-3 text-left list-unstyled list-inline">
                    <!--Copyright-->
                        <ul class="list-unstyled list-inline">
                            <li>
                                © The Book Cave
                            </li>
                            <li>
                                <a href="#!">Privacy Policy</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="TermsAndCond">Terms and Conditions</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="http://www.facebook.com" class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="http://www.twitter.com" class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="http://www.instagram.com" class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    <!--/.Copyright--> 
                    </div>
                </div>     
        </div>
    </div>
</footer>                 
   
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>