<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookCave</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <img src="~/images/BookCaveLogo.png" alt="Logo">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 7 - Items<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-cart" role="menu">
                    <li>
                        <span class="item">
                            <span class="item-left">
                                <img src="http://lorempixel.com/50/50/" alt="" />
                                <span class="item-info">
                                    <span>Item name</span>
                                    <span>23$</span>
                                </span>
                            </span>
                            <span class="item-right">
                                <button class="btn btn-xs btn-danger pull-right">x</button>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="item">
                            <span class="item-left">
                                <img src="http://lorempixel.com/50/50/" alt="" />
                                <span class="item-info">
                                    <span>Item name</span>
                                    <span>23$</span>
                                </span>
                            </span>
                            <span class="item-right">
                                <button class="btn btn-xs btn-danger pull-right">x</button>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="item">
                            <span class="item-left">
                                <img src="http://lorempixel.com/50/50/" alt="" />
                                <span class="item-info">
                                    <span>Item name</span>
                                    <span>23$</span>
                                </span>
                            </span>
                            <span class="item-right">
                                <button class="btn btn-xs btn-danger pull-right">x</button>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="item">
                            <span class="item-left">
                                <img src="http://lorempixel.com/50/50/" alt="" />
                                <span class="item-info">
                                    <span>Item name</span>
                                    <span>23$</span>
                                </span>
                            </span>
                            <span class="item-right">
                                <button class="btn btn-xs btn-danger pull-right">x</button>
                            </span>
                        </span>
                    </li>
                    <li class="divider"></li>
                    <li><a class="text-center" href="">View Cart</a></li>
                </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">New User / Sign In <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                                <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <span><button type="submit" class="btn btn-success btn-block">New User</button></span>
                                        <span><button type="submit" class="btn btn-success btn-block">Sign In</button></span>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
            </ul>
            </div>
            <!------ Bootstrap (start) ---------->
            <div class="container">
            </div>
            <div class="container">
                <div class="row">
                <!------    <img src="~/images/BookCaveLogo.png" alt="Logo"> ---------->
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">All</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#author">Author</a></li>
                                    <li><a href="#isbn">ISBN</a></li>
                                    <li><a href="#title">Title</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">         
                            <input type="text" class="form-control" name="x" placeholder="Search by keyword, title, author or ISBN">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!------ Bootstrap (finish) ---------->
            

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Browse</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Best Sellers</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">New Releases</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Top Rated</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - BookCave</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
