<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewData["Title"] - BookCave</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">BookCave</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
                
        <!--Footer-->
        <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
        <!--Footer Links-->
            <div class="container text-center text-md-left">
            <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">
      
            <!--First column-->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <p><a href="#!">About Us</a></p>
                        <p><a href="#!">Contact Us</a></p>
                        <p><a href="#!">Q&As</a></p>
                         <p><a href="#!">Help
                    </div>
                  
                
                    <!--Second column-->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                      <p><a href="#!">Home</a></p>
                      <p><a href="#!">Browse</a></p>
                      <p><a href="#!">Best Sellers</a></p>
                      <p><a href="#!">New Releases</a></p>
                    </div>
                  
                    <!--Third column-->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <p><a href="#!">Top Rated</a></p>
                        <p><a href="#!">Shipping</a></p>
                        <p><a href="#!">Information</a></p>
                        <p><a href="#!">Returns</a></p>
                    </div>
                  
                    <!--Fourth column-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <p><a href="#!">Account Details</a></p>
                        <p><a href="#!">Order History</a></p>
                        <p><a href="#!">Wish List</a></p>
                        <p><a href="#!">Sign Out</a></p>
                    </div>
      
                    <!--Fifth column-->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <p>Contact Us</p>
                        <p><i class="fa fa-home mr-3"></i> Menntavegur 1, 105 Reykjavik, Iceland</p>
                        <p><i class="fa fa-envelope mr-3"></i> bookcave@bookcave.com</p>
                        <p><i class="fa fa-phone mr-3"></i> + 354 866 1234</p>
                    </div>
            </div>
              
            <!-- Footer links -->
            <div class="row py-3 d-flex align-items-center">
                  <!--Grid column-->
                  <div class="col-md-8 col-lg-8">
                      <!--Copyright-->
                      <p class=" text-left grey-text font-weight-light">© The Book Cave </p>
                      <!--/.Copyright-->
                  </div>

                  <!--Grid column-->
                  <div class="col-md-4 col-lg-4 ml-lg-0">      
                      <!--Social buttons-->
                      <div class="text-center text-md-right">
                          <ul class="list-unstyled list-inline">
                              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook-square"></i></a></li>
                              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter-square"></i></a></li>
                              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-instagram"></i></a></li>
                          </ul>
                      </div>
                      <!--/.Social buttons-->
                  </div>
                  <!--Grid column-->
              </div>
          </div>  
      </footer>                 
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
