@model BookCave.Models.InputModels.LoginInputModel 

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Login</h2>
<div>
    <fieldset>
        <form method="post">
            <label asp-for="Email">Email: </label><input type="email" asp-controller="Account" asp-action="Login"/>
            <label asp-for="Password"></label>Password: <input type="password" asp-controller="Account" asp-action="Login"/>
            <label asp-for="RememberMe">Remember Me? </label> <input type="radio"/>
            <input type="submit" value="Login"/>
        </form>
    </fieldset>
</div>