@model BookCave.Models.InputModels.AddressInputModel
@{
    ViewData["Title"] = "Address Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="page-header">
                <span id="page-name">
                    <h1>
                        <span class="book-cave-color">YOUR</span><span id="list">ADDRESS</span>
                    </h1>
                </span>
            </div>

            <form action="Address" class="address-form" method="post">
                <fieldset>
                    <legend class="book-cave-color">Billing Address</legend>       
                    <div class="form-group">
                        <span asp-validation-for="BillingStreet"></span>
                        <label asp-for="BillingStreet">Street</label>
                        <input asp-for="BillingStreet" type="text" class="form-control" id="BillingStreet" placeholder="Street">
                    </div>

                    <div class="form-group col-md-2">
                        <span asp-validation-for="BillingZipCode"></span>
                        <label asp-for="BillingZipCode">Zip Code</label>
                        <input asp-for="BillingZipCode" type="text" class="form-control" id="BillingZipCode" placeholder="ZipCode">
                    </div>  

                    <div class="form-group col-md-6">
                        <span asp-validation-for="BillingCity"></span>
                        <label asp-for="BillingCity">City</label>
                        <input asp-for="BillingCity" type="text" class="form-control" id="BillingCity" placeholder="City">
                    </div>  
                
                    <div class="form-group col-md-4">
                       <!-- <span asp-validation-for="BillingCountry"></span>
                        <label asp-for="BillingCountry">Country</label>-->
                         <label>bla</label>
                        <select  id="BillingCountry" class="form-control">
                            <option selected>Select country</option>

                            @using (Html.BeginForm()) 
                            {
                                var countries = BookCave.Services.Helper.GetLanguages();
                                foreach (var country in countries)
                                {
                                    <option value=@country.Id>@country.Name</option>
                                }
                            }
                            </select>
                    </div>
                    
                    <legend class="book-cave-color">Shipping Address</legend>
                                
                    <div class="form-group">
                        <span asp-validation-for="ShippingStreet"></span>
                        <label asp-for="ShippingStreet">Street</label>
                        <input asp-for="ShippingStreet" type="text" class="form-control" id="ShippingStreet" placeholder="Street">
                    </div>
                
                    <div class="form-group col-md-2">
                        <span asp-validation-for="ShippingZipCode"></span>
                        <label asp-for="ShippingZipCode">Zip Code</label>
                        <input asp-for="ShippingZipCode" type="text" class="form-control" id="ShippingZipCode" placeholder="ZipCode">
                    </div>  

                    <div class="form-group col-md-6">
                        <span asp-validation-for="ShippingCity"></span>
                        <label asp-for="ShippingCity">City</label>
                        <input asp-for="ShippingCity" type="text" class="form-control" id="ShippingCity" placeholder="City">
                    </div>  
                       
                    <div class="form-group col-md-4">
                        <!--<span asp-validation-for="ShippingCountry"></span>
                            <label asp-for="ShippingCountry">Country</label>-->
                            <label>bla</label>
                            <select  id="ShippingCountry" class="form-control">
                            <option selected>Select country</option>
                            @using (Html.BeginForm()) 
                            {
                                var countries = BookCave.Services.Helper.GetLanguages();
                                foreach (var country in countries)
                            {
                                <option value=@country.Id>@country.Name</option>
                            }
                            }
                        </select>
                    </div>
                    
                    <div class="button-options grey-buttons">
                        <input class="btn" type="submit" value="Review Order">
                        <a class="btn btn-default grey-buttons" type="button" asp-area="" asp-controller="Order" asp-action="ShoppingCart">Edit Order</a>
                    </div> 
                </fieldset> 
            </form>
        </div>
    </div>
</div>