@model IEnumerable<BookCave.Models.EntityModels.Product>

@{
    ViewData["Title"] = "Shopping Cart";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1>
                    <span class="book-cave-color">SHOPPING</span><span>CART</span>
                </h1>
            </div>
            <table>
                <tbody>
                   @foreach(var product in Model){
                        
                }
                </tbody>
            </table>
            <div class="button-options grey-buttons">
                <a class="btn btn-default grey-buttons" type="button" asp-area="" asp-controller="Order" asp-action="ReviewPage">Checkout</a>
                <a class="btn btn-default grey-buttons" type="button" asp-area="" asp-controller="Product" asp-action="AllProducts">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>