@{
    ViewData["Title"] = "All Products";
}


<!--<p id=no-wish-list> No items in your Wish List </p>-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            
                <h1><span class="book-cave-color">Shopping</span><span>Cart</span></h1>
            
            
            <hr>
            <table>
                
              
                <tbody>
                 <tr class="list-item">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="pull-left" href="#"> <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/180x200/456" class="media-object" alt="ItemImage" style="width: 180px; height: 200px;"></div> </a>
                            <div class="media-body">
                                <h4>Item name</h4>
                                    <ul>
                                        <li>Author:</li>
                                        <li>Format:</li>
                                        <li>Length:</li>
                                        <li>Release date:</li>
                                        <li>Language:</li>  
                                    </ul>
                                   
                                    <span class="stars fa fa-star"></span>
                                    <span class="stars fa fa-star"></span>
                                    <span class="stars fa fa-star"></span>
                                    <span class="stars fa fa-star"></span>
                                    <span class="stars fa fa-star"></span>
                            </div>
                        </div></td>
                    
                        <td class="col-sm-2 col-md-2">
                             <div class="quantity">

                                    <input type="number" step="1" max="99" min="1" value="1" class="qty"
                                           size="4">
                                </div>
                            <a asp-area="" asp-controller="ShoppingCart" asp-action="RemoveProduct">Remove</a>
                        </td>
                        <td class="col-sm-2 col-md-2">
                           <p><strong>Price: $0.00</strong></p>
                        </td>
                        <td class="col-sm-2 col-md-2">
                            <p><strong>Total Price: 100$</strong></p>
                        </td>
                        
            
                    </tr>
                </tbody>
            </table>
         
        </div>
    </div>
</div>

           

