@{
    ViewData["Title"] = "NAME OF AUTHOR"; <!--MUNA AÃ BREYTA-->
}


<div class="container-fluid">
    <div class="row center">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <div>
                    <h2><span class="book-cave-color">J.K</span> <span>ROWLING</span></h2>
                </div>
            </div>
            <table>
                <tbody>
                <tr>
                    <td class="col-sm-3 col-md-3" valign="top">
                        <div>
                            <img alt="Cover Art" class="bookDetailImg" src="https://hpmedia.bloomsbury.com/rep/s/9781408855676_309040.jpeg"/>
                        </div>
                    </td>
                    <td class="col-sm-5 col-md-5" valign="top">
                        <div>
                            <ul>
                                <li><h4>Harry Potter and the Prisoner of Azkaban</h4></li>
                                <li>Author: J.K. Rowling</li>
                                <li>
                                    Format:
                                </li>
                                <li>Pages: 480</li>
                                <li>Release Date: 01-09-2014</li>
                                <li>Language: English</li>
                                <li>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="grey"> No rating(s) </span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="col-sm-2 col-md-2" valign="top">
                        <div>
                            <h5>Price:</h5>
                        </div>
                    </td>
                    <td class="col-sm-2 col-md-2" valign="top">
            
                        <div>
                            <div class="button-options grey-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Buy Now
                                </a>
                            </div>
                            <div class="button-options green-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Add to Cart
                                </a>
                            </div>
                            <div class="button-options green-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Add to WishList
                                </a>
                            </div>
                            <div class="button-options green-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Add a Review
                                </a>
                            </div>
                        </div>
        
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>