
@{
    ViewData["Title"] = "NAME OF BOOK"; <!--MUNA AÐ BREYTA-->
}


<div class="container-fluid">
    <div class="row center">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <div>
                    <h2><span class="book-cave-color">BOOK</span><span>DETAILS</span></h2>
                </div>
            </div>
                <div class="col-sm-3">
                    <img id="bookDetailImg" src="https://hpmedia.bloomsbury.com/rep/s/9781408855676_309040.jpeg"/>
                </div>
                <div class="col-sm-5">
                    <ul>
                        <li><h4>Harry Potter and the <br/> Prisoner of Azkaban</h4></li>
                        <li>Author: J.K. Rowling</li>
                        <li>
                            Format:
                            <select>
                                <!--<option>Audio Book</option>
                                <option>E-Book</option>-->
                                <option>Hardcover</option>
                                <option>Paperback</option>
                            </select>
                        </li>
                        <li>Pages: 480</li>
                        <li>Release Date: 01-09-2014</li>
                        <li>Language: English</li>
                        <li>Publisher: Bloomsbury</li>
                        <li>
                            <span class="stars fa fa-star"></span>
                            <span class="stars fa fa-star"></span>
                            <span class="stars fa fa-star"></span>
                            <span class="stars fa fa-star"></span>
                            <span class="stars fa fa-star"></span>
                            <span class="grey"> 5 Ratings </span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Price:</h5>
                </div>
                <div class="col-sm-2">
                    <div class="button-options grey-buttons">
                        <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                            Buy Now
                        </a>
                    </div>
                    <div class="button-options green-buttons">
                        <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                            Add to Cart
                        </a>
                    </div>
                    <div class="button-options green-buttons">
                        <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                            Add to WishList
                        </a>
                    </div>
                    <div class="button-options green-buttons">
                        <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                            Add a Review
                        </a>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div>
                    <h3>Synopsis</h3>
                    <hr/>
                    <div>
                        When the Knight Bus crashes through the darkness and screeches to a halt in front of him, it’s the start of another far from ordinary year at Hogwarts for Harry Potter. Sirius Black, escaped mass-murderer and follower of Lord Voldemort, is on the run – and they say he is coming after Harry. In his first ever Divination class, Professor Trelawney sees an omen of death in Harry’s tea leaves … But perhaps most terrifying of all are the Dementors patrolling the school grounds, with their soul-sucking kiss …
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div>
                
                    <h3>Review</h3>

                    <hr/>
                    <div class="row">
                        <div class="col-sm-2">
                            <div>Mr. Cool </div>
                            <div>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-2">
                            <div>Mr. Cool </div>
                            <div>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-2">
                            <div>Mr. Cool </div>
                            <div>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-2">
                            <div>Mr. Cool </div>
                            <div>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
