<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">  
            <h1><span class="book-cave-color">TERMS</span><span>&</span><span>CONDITIONS</span></h1>
            </div>

                    <p>d</p>
            <p>d</p>
            <p>d</p>
            <p>d</p>
            <p>d</p>
            <p>d</p>

            <p>d</p>

            <p>d</p>
                LISTI AF KLIKKUÐUM BÓKUM
            

        </div>
    </div>    
</div>