@{
    ViewData["Title"] = "Top Rated";
}

<!--<p id=no-wish-list> No items in your Wish List </p>-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1 class="all-products-header"><span class="book-cave-color">TOP</span><span>RATED</span></h1>
                
        </div>
    </div>
</div>

