*{
    margin:0px;
    padding:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding-top: 155px;
    padding-bottom: 20px;    
}

#myFooter{
    background-color:rgb(105,202,202);
    color: white;
    padding: 15px; 
    margin-top: 50px;   
}

footer a{
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Pages styles */

ul {
    list-style: none;
    padding-left: 0;
}​

table 
{
    border-collapse: collapse;
    border-spacing:0;
    width:100%;
    border: 1px solid;
}

td{
    padding: 10px;
    
}

tfoot > tr{
    text-align: center;
    border-top: solid;
    border-width: 1px;
    border-color:rgb(238, 238,238);
}

#order-num{
    margin-left: 430px;
}

#print-receipt{
    margin-top: 30px;
    margin-left: 650px;
}

.book-cave-color{
    color:rgb(105,202,202);
}


.green-buttons > button
{
    color: white;
    background-color: rgb(105,202,202);
    margin-bottom: 10px;
    width: 120px;
}

.grey-buttons > button{
    color: black;
    background-color:rgb(240,240,240);
    margin-bottom: 10px;
    width: 120px;
}


.button-options > button
{
    margin-bottom: 10px;
    width: 120px;  
}


.stars{
    color: rgb(252, 202, 68);
}

#upload-image{
    position: left;
    float:left;
}

#form-inputs{
    position: right;
    float: right;
    background-color:hotpink;
}

.page-header > h1{
    display: inline;
    
}

#sort-by{
    width: 150px;
    margin-left: 20px;
}

.filter-and-sort{
    margin-left: 300px;
}

.inline-block{
    display: inline-block;
}

/* BRYNJA DAGMAR JAKOBSD */

#browse-hidden {
    display: none !important;
}

#best-sellers-hidden {
    display: none !important;
}

#search-input-bar {
    top: 65px;
}

@media only screen and (min-width: 600px){
    .footer{
    background-color: rgb(105,204, 202);
    }
    
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
