@{
    ViewData["Title"] = "LOGIN";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1 clas="inline-block"><span class="book-cave-color">LOG</span><span>IN</span></h1>
            </div>
            <div class="login-form">
                

                <form class="input-form address-form">
                    <fieldset>
                        <div class="form-inputs">
                     
                            <div class="form-group">
                                <label for="user-email">Email address</label>
                                <input type="email" class="form-control" id="user-email" placeholder="Enter email">
                            </div>
                        
                            <div class="form-group">
                                <label for="user-password">Password</label>
                                <input type="password" class="form-control" id="user-password" placeholder="Password">
                            </div>
                       
                            <div class="grey-buttons">
                                <a class="btn btn-default grey-buttons" type="button" asp-area="" asp-controller="" asp-action="">Log In</a>
                            </div>
                        </div>

                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>  