@model List<BookCave.Models.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Order History";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="page-header">
                <h1><span class="book-cave-color">ORDER</span><span>HISTORY</span></h1>
            </div>
            <table class="table table-condensed">
                <tbody>
                @foreach(var order in @Model.Items)
                {
                    <tr>
                        <td>order.Id</td>
                        <td>order.Date</td>
                        <td>order.Status</td>
                    </tr>

                    @foreach (var item in order)
                    {
                        
                    }
                }
                </tbody>
            </table>
            }
            <div class="button-options grey-buttons"> 
                <a class="btn btn-default grey-buttons" type="button" asp-area="" asp-controller="Product" asp-action="AllProducts">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>
