@{
    ViewData["Title"] = "Your Receipt";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1 clas="inline-block"><span class="book-cave-color">YOUR</span><span>RECEIPT</span></h1>
                <p id="order-num" class="inline-block">Order no. 123</p>
            </div>
        
            <table>   
                <tbody>
                    <tfoot>
                        <tr>
                        <td colspan="2"></td>
                        <td><strong>Total</strong></td>
                        <td><strong>100$<strong></td>
                        </tr>
                    </tfoot>
                    <tr class="list-item">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="pull-left" href="#"> <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/180x200/456" class="media-object" alt="ItemImage" style="width: 180px; height: 200px;"></div> </a>
                            <div class="media-body">
                                <h4>Item name</h4>
                                <ul>
                                    <li>Author:</li>
                                    <li>Format:</li>
                                    <li>Length:</li>
                                    <li>Release date:</li>
                                    <li>Language:</li>  
                                </ul>
                                
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                                <span class="stars fa fa-star"></span>
                            </div>
                        </div>
                        </td>
                    
                        <td class="col-sm-2 col-md-2">		
                            <p>2</p>
                        </td>

                        <td class="col-sm-2 col-md-2">
                            <p><strong>Price: $50.00</strong></p>
                        </td>
                        
                        <td class="col-sm-2 col-md-2">
                            <p><strong>Total Price: 100$</strong></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-options grey-buttons"> 
                <button id="print-receipt" type="button" class="btn">Print Receipt</button>
            </div>
        </div>
    </div>
</div>

           

